@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 52, 58, 64;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  position: relative;
  color: rgb(var(--foreground-rgb));
  
}

.app-shadow-b {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
